<div>
  <h2>Using Reactive approach</h2>
  <app-select-wrapper [formControl]="myControlReactive" [options]="options">
    <p *ngIf="myControlReactive.hasError('required')">This field is required!</p>
    <p *ngIf="myControlReactive.hasError('custom')">
      {{ myControlReactive.getError("custom").value }}
    </p>
  </app-select-wrapper>

  <p *ngIf="myControlReactive.hasError('custom')">
    {{ myControlReactive.getError("custom").value }}
  </p>
  
  <p>Selected value: {{ myControlReactive.value }}</p>

  <hr>

  <h2>Using Template-driven approach</h2>
  <app-select-wrapper [(ngModel)]="myControlTemplate" required [options]="options" #templateSelect="ngModel">
    <p *ngIf="templateSelect.errors && templateSelect.errors.required">This field is required!</p>
  </app-select-wrapper>
  
  <p>Selected value: {{ myControlTemplate }}</p>
</div>